.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: auto;
  color: var(--white);
  background-image: url("../assets/goals-bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.landingPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  z-index: 0;
}

.landingPage > div {
  position: relative;
  z-index: 1;
  color: var(--text-color);
  text-align: center;
}

.textContainerLP h1 {
  font-family: "Italianno";
  font-size: 5rem;
  color: var(--text-color-primary);
}

.textContainerLP p {
  font-size: 3rem;
  color: var(--white);
}
/* media queries */
/* Large screens */
@media (min-width: 1200px) {
  .textContainerLP h1 {
    font-size: 6rem;
  }

  .textContainerLP p {
    font-size: 3.5rem;
  }
}

@media (max-width: 1199px) {
  .textContainerLP h1 {
    font-size: 4.5rem;
  }

  .textContainerLP p {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .landingPage {
    padding: 1.5rem;
  }

  .textContainerLP h1 {
    font-size: 3.5rem;
  }

  .textContainerLP p {
    font-size: 2rem;
  }
}

@media (max-width: 575px) {
  .landingPage {
    padding: 1rem;
  }

  .textContainerLP h1 {
    font-size: 3rem;
  }

  .textContainerLP p {
    font-size: 1.6rem;
  }
}

@media (max-width: 320px) {
  .textContainerLP h1 {
    font-size: 2.5rem;
  }

  .textContainerLP p {
    font-size: 1.4rem;
  }
}
