.navContainer {
  padding: 1rem 2rem;
  background-color: var(--overlay);
  color: var(--black);
  font-size: 1.8rem;
}

.navContainer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.navContainer a {
  color: var(--text-color-primary); /* review this later */
  text-decoration: none;
}

.logo {
  font-size: 2.3rem;
  font-weight: 700;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navLinks a:hover {
  background-color: var(--secondary-color);
  color: var(--text-color-dark);
  border-radius: 16px;
  padding: 0.5rem 1rem;
}

.logout {
  background-color: var(--secondary-color);
  color: var(--text-color-dark);
  border-radius: 16px;
  padding: 0.5rem 1rem;
}

.logout:hover {
  background-color: var(--text-color-dark);
  color: var(--secondary-color);
}
