@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Itim&display=swap");
:root {
  --background-color: #f6f1e1;
  --primary-color: #9c7a4f;
  --secondary-color: #c19a6b;
  --white: #ffffff;
  --black: #2f1e0e;
  --gray: #b7a78a;
  --gray-300: #e9d7b6;
  --gray-500: #715f47;
  --overlay: rgba(47, 30, 14, 0.85);

  --text-color-primary: #d6d0bb;
  --text-color-secondary: #d1b48c;
  --text-color-tertiary: #c19a6b;
  --text-color-accent: #9c7a4f;
  --text-color-dark: #1a1007;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Itim", sans-serif;
  background-color: var(--background-color);
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* button */
.button {
  font-family: "Itim";
  padding: 1rem 2rem;
  font-size: 1.8rem;
  background-color: var(--background-color);
  color: var(--black);
  border: none;
  border-radius: 16px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: var(--secondary-color);
  color: var(--black);
}

/* text container over overlay */
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin: 0 2rem;
  line-height: 1.5;
}

/* loading */
.loading {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
