.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: var(--background-color);
}

.wrapper {
  width: 100%;
  max-width: 35rem;
}

p {
  font-size: 1rem;
}

.formContainer {
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 4rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--black);
}

.subtitle {
  font-size: 1.3rem;
  color: var(--gray-500);
  margin-top: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
}

.inputWrapper {
  position: relative;
}

.icon {
  position: absolute;
  left: 0.2rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-color);
}

.input {
  width: 100%;
  padding: 1rem 1rem 1rem 2.5rem;
  border: 1px solid var(--gray-300);
  border-radius: 0.375rem;
  outline: none;
  transition: all 0.2s;
}

.input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(156, 122, 79, 0.2);
}

.passwordToggle {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rememberMe {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  accent-color: var(--primary-color);
}

.link {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 0.875rem;
  transition: color 0.2s;
}

.link:hover {
  color: var(--secondary-color);
}

.button {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--secondary-color);
}

.googleButton {
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  padding: 0.5rem 1rem;
  border: 1px solid var(--gray-300);
  border-radius: 0.375rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.googleButton:hover {
  background-color: var(--background-color);
}

.divider {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0;
}

.dividerLine {
  flex: 1;
  height: 1px;
  background-color: var(--gray-300);
}

.dividerText {
  color: var(--gray-500);
  font-size: 0.875rem;
}

.footer {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.875rem;
}
