.footer {
  color: var(--text-color-primary);
  padding: 1rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: var(--overlay);
}

.footer a {
  color: var(--text-color-tertiary);
  text-decoration: none;
}

.footer a:hover {
  color: var(--white);
}
